body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:lightcyan;
    }

nav li .skill {
    color: black;
    padding: 5px;
    border-radius: 4px;
}
.hero {
    background-color: aquamarine;
    margin-top: 70px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 100px;
    color: black;
}

.container {
   padding: 20px;
   
}
.text {
    width: 100%;
    padding: 20px;
}
.image {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
